* { margin: 0px; padding: 0px; }

/* --- */

.clear { clear:both; }

.show { display: block; }
.hide { display: none; }

.red { color:#FF0000; }
.green { color:#00CC00; }

.dashed {
	border: 2px dashed #666666;
}



body 
{
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background: #FFFFFF;
	text-align: center;
}
a 
{
	color:#f79312;
	text-decoration: none;
}
a:hover { text-decoration: underline; }
h2 
{
	font-size: 16px;
	margin-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
}
h2.topPad
{
	padding-top: 30px;
}
h3 
{
	font-size: 13px;
	padding-top: 10px;
	margin: 0px 0px 15px 0px;
	font-family: Arial, Helvetica, sans-serif;
}
h4
{
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 5px;
	font-family: Arial, Helvetica, sans-serif;
}
h5 
{
	font-size: 12px;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
}
small
 {
	font-size: 12px;
	color: #888;
}
p 
{
	margin-bottom: 15px;
	font-family: Arial, Helvetica, sans-serif;
}

ul.content
{
	margin: 0px 5px 20px 15px;
}
ul.content li
{
	margin-bottom: 3px;
	font-family: Arial, Helvetica, sans-serif;
}

/* --- */

.bordered
{
	border: 2px solid #000000;
}

/* --- */

#container 
{
	margin: 0px auto 0px auto;
	min-width: 320px;
	max-width: 500px;
	text-align: left;
}

/* --- */


/* --- */

#header 
{
	position: relative;
	height: 34px;
	line-height: 34px;
	padding: 0px 20px 0px 20px;
	background: #000000;
}
#header h1 
{
	font-size: 14px;
	font-weight: normal;
}
#header a
{
	color: #FFFFFF;
	font-size: 12px;
	text-decoration: none;
}
#header a:hover
{
	text-decoration: underline;
}
#header a.selected 
{
	color: #989898;
}
#header a.selected :hover
{
	text-decoration: none;
}

/* --- */

#nav 
{
	list-style: none;
}
#nav li 
{
	float: left;
	margin-right: 13px;
}

#nav_add li a
{
	color:#FFF;
	list-style: none;
	position: absolute;
	top: 0px;
	right: 16px;
	float: left;
	margin-left: 16px;
	display: block;
	height: 34px;
	background-position: center;
	background-repeat: no-repeat;
}


/* --- */

#content
{
	padding: 16px 18px 16px 18px;
}

/* --- */

#options 
{
	white-space: nowrap;
	padding-bottom: 16px;
}

#filter
{
	min-width: 55%;
	max-width: 65%;
	margin-right: 4%;
	padding: 3px 0px 3px 20px;
	border: 1px solid #999999;
	font-size: 11px;
	background-image: url(/i/i_search.png);
	background-position: left center;
	background-repeat: no-repeat;
}
#sort_by
{
	min-width: 35%;
	max-width: 50%;
	padding: 3px 0px 3px 0px;
	font-size: 11px;
}

#filter.noFilter
{
	color: #999999;
}

/* --- */

#list 
{
	list-style: none;
}
#list.loading 
{ 
	background: url(/i/spinner_med.gif) top center no-repeat;
}
#list.loading li { visibility: hidden; }
#list li 
{
	clear: both;
	position: relative;
	padding: 0px 100px 0px 26px;
	margin: 9px 0px 20px 0px;
}
#list br { display: none; }

#list li .word a 
{
	font-weight: normal;
	color: #000000;
	font-size: 12px;
}
*html #list li .word
{
	width: 200px;
	display: block;
	overflow: hidden;
}
#list li .description
{
	color: #909090;
	font-style: normal;
}
#list li small span { display: none; }



#list li .weibo
{
	position: absolute;
	display: block;
	top: 9px;
	right: 50px !important;
	width: 16px;
	height: 16px;
	text-indent: -789em;
	background: url(/images/icon_weibo.png) center no-repeat;
}



#list li .edit
{
	position: absolute;
	display: block;
	top: 9px;
	right: 25px !important;
	width: 16px;
	height: 16px;
	text-indent: -789em;
	background: url(/images/icon_edit.png) center no-repeat;
}


#list li .del
{
	position: absolute;
	display: block;
	top: 9px;
	right: 0px;
	width: 16px;
	height: 16px;
	text-indent: -789em;
	background: url(/images/icon_del.png) center no-repeat;
}
#list li a.loading 
{
	background-image: url(/i/loading.gif) !important;
}
#list li a.delete 
{
	background-image: url(/i/i_delete.png);
}
#list li a.readd 
{
	background-image: url(/i/plus_empty_16.png);
}

#list li.empty 
{
	background: none;
	text-align: center;
	height: 100px;
	padding: 0px;
}

#list li .prioryicon 
{
	display: block;
	position: absolute;
	top: 3px;
	left: 0px;
	width: 16px;
	height: 16px;
}
*html #list li .prioryicon 
{
	height: 50px;
	left: -27px;
}

/* --- */

#footer 
{
	position: relative;
	height: 55px;
}
#pages 
{
	position: absolute;
	top: 0px;
	right: 0px;
	line-height: 25px;
	text-align: right;
}
#next, #previous 
{
	color: #999999;
	cursor: default; 
}
#next.active, #previous.active 
{
	color: #0000FF;	
	cursor: pointer;
}

/* --- */